@import url('https://fonts.googleapis.com/css?family=Exo+2:200,400');

*, body {
    background-color: #703C8C;
    color: #ECECEC;
    font-family: 'Exo 2', sans-serif;
    padding: 0;
    display: flex;
}

header {
    margin: 0;
    padding: 2% 50% 1% 1%;
    font-weight:bolder;
}

canvas {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 5px solid #000000; 
    margin: 0.5% 1%;
    background-image: url("/images/flooring.png");
}