@import url('https://fonts.googleapis.com/css?family=Exo+2:200,400');

*, body{
    background-color: #566071;
    font-family: "Exo 2", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    text-align: left;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
}

.logo {
    height: 60px;
    width: 64px;
    margin: 18px;
}

.name {
    font-weight: bolder;
    letter-spacing: 1px;
}

.container {
    width: 60%;
    margin: 1% 30%;
}
.lead {
    text-decoration: underline;
    font-weight: bolder;
}

.image {
    width: 60%;
    height: auto;
    margin: 0 20%;
    align-items: center;
}

button {
    margin: 1% 40%
}
